<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	<style type="text/css">
	body {
		font: 10pt sans;
	}

	#mynetwork {

		height: 600px;
		border: 1px solid lightgray;
	}


	.icon-bar {
		display: none;
		width: 90px;
		background-color: #555;
	}

	.icon-bar i {
		display: block;
		
		text-align: center;
		padding: 16px;
		transition: all 0.3s ease;
		color: white;
		font-size: 36px;
	}

	.icon-bar i:hover {
		background-color: #000;
	}


</style>
{% load static %}
<link rel="stylesheet" href="{% static "dashboard/style.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js">
   
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script src="{% static "dashboard/model.js" %}"></script>

</head>

<body onload="initialice();">
	<!-- The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div style="overflow-y: auto;" class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Configuracion del paso</h2>
			</div>
			<div class="modal-body">
				<h3>Ingrese el tipo de paso</h3>
				<hr>
				<select class="col-sm-12 form-control" id="step-type">
					<option value="1" disabled>Seleccion</option>
					<option value="2">Geoposicionamiento</option>
					<option value="3">Foto</option>
					<option value="4">Informacion</option>
					<option value="5">Pregunta</option>
					<option value="6">Audio</option>
					<option value="7">Hora</option>
					<option value="8">Fecha</option>
					<option value="9">Seleccion multiple</option>
					<option value="10">Texto</option>
				</select>

			</div>
			<div class="modal-footer" style="margin-top: 30px;">
				<button type="button" id="close_btn" class="btn btn-default" onclick="closeModal()" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="goToSpects()">Guardar y avanzar</button>
			</div>
		</div>

	</div>



	<div id="spectModal" class="modal">

		<!-- Modal content -->
		<div style="overflow-y: auto;" class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Configuracion especifica del paso</h2>
			</div>
			<div id="spectContainer" class="modal-body">
				
				

			</div>
			<div class="modal-footer" style="margin-top: 30px;">
				<button type="button" id="close_btn" class="btn btn-default" onclick="openModal()" data-dismiss="modal">Volver</button>
				<button type="button" id="close_btn" class="btn btn-default" onclick="closeModal()" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="setTypeConfiguration()">Guardar</button>
			</div>
		</div>

	</div>

	<div id="optionModal" class="modal">

		<!-- Modal content -->
		<div style="overflow-y: auto;" class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Configuracion opcion</h2>
			</div>
			<div class="modal-body">
				<h3>Ingrese la respuesta</h3>
				<div id="optionContainer" class="row">
					<input class="col-sm-12 form-control" type="text" id="option_text" value="" name="option_text">

				</div>
				<!-- aca va el contenido -->

			</div>
			<div class="modal-footer" style="margin-top: 30px;">
				<button type="button" id="close_btn" class="btn btn-default" onclick="closeOptionModal()" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="setOptionConfiguration()">Guardar</button>
			</div>
		</div>

	</div>



	<div class="row">
		<button type="button" class="btn btn-primary" id="imprimir">Imprimir</button>
		<div class="col-sm-8">

			<div id="mynetwork"><div class="vis-network" tabindex="900" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;"><canvas width="1200" height="1200" style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;"></canvas></div></div>



		</div>
		<div class="col-sm-4">
			<div class="icon-bar" id="icon-bar">
				<i class="fa fa-plus" onclick="addStep()"></i> 
				<i class="fa fa-deviantart" onclick="setFatherStep()"></i> 
				<i class="fa fa-sitemap" onclick="setMultipleStep()"></i> 
				<i class="fa fa-bullseye"onclick="openModal()"></i>
				<i class="fa fa-trash" onclick="deleteStep()"></i>
			</div>
			
			<div class="icon-bar" id="icon-bar-edge">
				<i class="fa fa-trash" onclick="deleteEdge()"></i>
			</div>
			<div class="icon-bar" id="icon-bar-option">
				<i class="fa fa-bullseye" onclick="openOptionModel()"></i>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12">
			<p id="selectedStep"> </p>
		</div>
	</div>

	




	

</body>
<script type="text/javascript">

	var dataView = "{{ data }}".replace(/&quot;/g,"\"");
	var spect;
	var steps;
	var nodesTypes;
	var wf;
	var clickedStep;
	var clickedOption;
	var clickedEdge;
	var fatherStep;

	var nodes = null;
	var edges = null;
	var network = null;
	var container = null;
	var data = null;
	var options = null;

	var modal = document.getElementById('myModal');
	var optionModal = document.getElementById('optionModal');
	var spectModal = document.getElementById('spectModal');
	var new_node_type = document.getElementById('step-type');
	var spectContainer = document.getElementById('spectContainer');

	

	function initialice() {
		image = "{% static "dashboard/option.png" %}"
		dataView = JSON.parse(dataView);
		console.log(dataView)
		var data = {
    "data": {
        "name": "Muestra CIACIAR",
        "project": 5,
        "steps": [
            {
                "step_type": "TimeStep",
                "next_step_id": 1,
                "step_id": 0,
                "text_to_show": "Pone la hora",
                "sample_text": "",
                "max_length": null,
                "input_type": "",
                "optional": null,
                "title": "",
                "options_to_show": []
            },
            {
                "step_type": "DateStep",
                "next_step_id": 2,
                "step_id": 1,
                "text_to_show": "Pone la fecha",
                "sample_text": "",
                "max_length": null,
                "input_type": "",
                "optional": null,
                "title": "",
                "options_to_show": []
            },
            {
                "step_type": "SelectOneStep",
                "next_step_id": null,
                "step_id": 2,
                "text_to_show": "",
                "sample_text": "",
                "max_length": null,
                "input_type": "",
                "optional": null,
                "title": "Pregunta de bifurcacion",
                "options_to_show": [
                    {
                        "text_to_show": "respuesta 1",
                        "next_step_id": 3
                    },
                    {
                        "text_to_show": "Foto",
                        "next_step_id": 4
                    }
                ]
            },
            {
                "step_type": "InformationStep",
                "next_step_id": null,
                "step_id": 3,
                "text_to_show": "No sos foto",
                "sample_text": "",
                "max_length": null,
                "input_type": "",
                "optional": null,
                "title": "",
                "options_to_show": []
            },
            {
                "step_type": "PhotoStep",
                "next_step_id": null,
                "step_id": 4,
                "text_to_show": "Saca una fotooo",
                "sample_text": "",
                "max_length": null,
                "input_type": "",
                "optional": null,
                "title": "",
                "options_to_show": []
            }
        ]
    },
    "status_code": 201
}
		var spect = {
			text_to_show: ''
		}
		steps = [];
		nodesTypes = [];

		ntSelect = new NodeType('SELECT',"{% static "dashboard/select.png" %}",spect);
		ntGps = new NodeType('GPS',"{% static "dashboard/gps.png" %}",spect);
		ntCamara = new NodeType('CAMARA',"{% static "dashboard/camara.png" %}",spect);
		ntInfo = new NodeType('INFO',"{% static "dashboard/info.png" %}",spect);
		ntQuestion = new NodeType('QUESTION',"{% static "dashboard/question.png" %}",spect);
		ntHour = new NodeType('HOUR',"{% static "dashboard/hour.png" %}",spect);	
		ntDate = new NodeType('DATE',"{% static "dashboard/date.png" %}",spect);
		ntVoice = new NodeType('VOICE',"{% static "dashboard/voice.png" %}",spect);
		spect = {
			text_to_show: '',
			options: []
		}
		ntMultpleSeleccion = new NodeType('MULTIPLE',"{% static "dashboard/multipleSelection.png" %}",spect);
		spect = {
			text_to_show: '',
			options: []
		}
		ntText = new NodeType('TEXT',"{% static "dashboard/text.png" %}",spect);	


		nodesTypes.push(ntSelect);
		nodesTypes.push(ntGps);
		nodesTypes.push(ntCamara);
		nodesTypes.push(ntInfo);
		nodesTypes.push(ntQuestion);
		nodesTypes.push(ntHour);
		nodesTypes.push(ntDate);
		nodesTypes.push(ntMultpleSeleccion);
		nodesTypes.push(ntText);
		nodesTypes.push(ntVoice);
		

		wf = new Workflow(steps,nodesTypes);
		if(data){
			getModelFromJson(data);
		} else {
		var s = new Simple(ntInfo,1,0);
		wf.addStep(s);	
		}
		
		

		draw();
	}

	function getSelectOneStepSpect(data){
		return {"text_to_show": data.title};
	}

	function getTextStepSpect(data){
		return {"text_to_show": data.text_to_show, "example_text": data.example_text, "long_text": data.long_text, "data_type": data.data_type, "optional": data.optional};
	}

	function getCommonStepSpect(data){
		return {"text_to_show": data.text_to_show};
	}

	function getMultipleSelectStepSpect(data){
		var options = [];
		for (var i = 0; i < data.options.length; i++) {
			options.push(data.options[i]);
		}
		return {"text_to_show": data.text_to_show, "options" : options};
	}



	function createStepFromJson(step){
		var spect = {};
		switch(step.step_type) {
			case "SelectOneStep":
			console.log(JSON.stringify(getSelectOneStepSpect(step)));
			spect = getSelectOneStepSpect(step);
			var selectNodeType = new NodeType('SELECT',"{% static "dashboard/select.png" %}",spect);
			var multipleStep = new Multiple(selectNodeType,step.step_id, step.step_id);
			wf.addStep(multipleStep);
			break;

			case "LocationStep":

			spect = getCommonStepSpect(step);
			var gpsNodeType = new NodeType('GPS',"{% static "dashboard/gps.png" %}",spect);
			var step = new Simple(gpsNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			case "PhotoStep":

			spect = getCommonStepSpect(step);
			var camaraNodeType = new NodeType('CAMARA',"{% static "dashboard/camara.png" %}",spect);
			var step = new Simple(camaraNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			case "InformationStep":

			spect = getCommonStepSpect(step);
			var infoNodeType = new NodeType('INFO',"{% static "dashboard/info.png" %}",step);
			var step = new Simple(infoNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			case "QUESTION":

			spect = getCommonStepSpect(step);
			var questionNodeType = new NodeType('QUESTION',"{% static "dashboard/question.png" %}",spect);
			var step = new Simple(questionNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			case "SoundRecordStep": 
			spect = getCommonStepSpect(step);
			var voiceNodeType = new NodeType('VOICE',"{% static "dashboard/voice.png" %}",spect);
			var step = new Simple(voiceNodeType,step.step_id, step.step_id);
			wf.addStep(step);	
			break;

			case "TimeStep":

			spect = getCommonStepSpect(step);
			var hourNodeType = new NodeType('HOUR',"{% static "dashboard/hour.png" %}",spect);
			var step = new Simple(hourNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			case "DateStep": 
			spect = getCommonStepSpect(step);
			var dateNodeType = new NodeType('DATE',"{% static "dashboard/date.png" %}",spect);
			var step = new Simple(dateNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			case "MultipleSelectStep":
			spect = getMultipleSelectStepSpect(step);
			var multipleNodeType = new NodeType('MULTIPLE',"{% static "dashboard/multipleSelection.png" %}",spect);
			var step = new Simple(multipleNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			case "TextStep":
			spect = getTextStepSpect(step);
			var textNodeType = new NodeType('TEXT',"{% static "dashboard/text.png" %}",spect);
			var step = new Simple(textNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;

			default:

			spect = getCommonStepSpect(step);
			var gpsNodeType = new NodeType('GPS',"{% static "dashboard/gps.png" %}",spect);
			var step = new Simple(gpsNodeType,step.step_id, step.step_id);
			wf.addStep(step);
			break;
		}
	}

	function addChildsToSelectStep(step){
		var fatherStep = wf.getStepByNodeId(step.step_id);
		for (var i = 0; i < step.options_to_show.length; i++) {
			var childStep = wf.getStepByNodeId(step.options_to_show[i].next_step_id);
			fatherStep.addChildStep(childStep, step.options_to_show[i].text_to_show );
		}
	}

	function addNextStepFromJson(step){
		switch(step.step_type) {
			case "SelectOneStep":
			addChildsToSelectStep(step);
			break;

			default:
			var fatherStep = wf.getStepByNodeId(step.step_id);
			var childStep = wf.getStepByNodeId(step.next_step_id);
			fatherStep.addChildStep(childStep);

			break;
		}
	}

	function getModelFromJson(data){
		var steps = data.data.steps;
		for (var i = 0; i < steps.length; i++) {
			createStepFromJson(steps[i]);
		}

		for (var i = 0; i < steps.length; i++) {
			addNextStepFromJson(steps[i]);
		}


	}

	function getTypeNodeId(type){
		switch(type) {
			case "SELECT":

			return "1";
			break;

			case "GPS":

			return "2";
			break;

			case "CAMARA":

			return "3";
			break;

			case "INFO":

			return "4";
			break;

			case "QUESTION":

			return "5";
			break;

			case "VOICE":

			return "6";
			break;

			case "HOUR":

			return "7";
			break;

			case "DATE":

			return "8";
			break;

			case "MULTIPLE":

			return "9";
			break;

			case "TEXT":

			return "10";
			break;

			default:

			return "4";
			break;
		}
	}

	function getNewNodeType(name){
		switch(name) {
			case "SELECT":

			return new NodeType('SELECT',"{% static "dashboard/select.png" %}",'');
			break;

			case "GPS":

			return new NodeType('GPS',"{% static "dashboard/gps.png" %}",spect);
			break;

			case "CAMARA":

			return new NodeType('CAMARA',"{% static "dashboard/camara.png" %}",spect);
			break;

			case "INFO":

			return new NodeType('INFO',"{% static "dashboard/info.png" %}",'');
			break;

			case "QUESTION":

			return new NodeType('QUESTION',"{% static "dashboard/question.png" %}",'');
			break;

			case "VOICE":

			return new NodeType('VOICE',"{% static "dashboard/voice.png" %}",'');	
			break;

			case "HOUR":

			return new NodeType('HOUR',"{% static "dashboard/hour.png" %}",'');
			break;

			case "DATE":

			return new NodeType('DATE',"{% static "dashboard/date.png" %}",'');
			break;

			case "MULTIPLE":

			return new NodeType('MULTIPLE',"{% static "dashboard/multipleSelection.png" %}",'');
			break;

			case "TEXT":

			return new NodeType('TEXT',"{% static "dashboard/text.png" %}",'');
			break;

			default:

			return new NodeType('INFO',"{% static "dashboard/info.png" %}",'');
			break;
		}
	}

	function getTypeNodeById(id){
		switch(id) {
			case "1":

			return ntSelect;
			break;

			case "2":

			return ntGps;
			break;

			case "3":

			return ntCamara;
			break;

			case "4":

			return ntInfo;
			break;

			case "5":

			return ntQuestion;
			break;

			case "6":

			return ntVoice;
			break;

			case "7":

			return ntHour;
			break;

			case "8":

			return ntDate;
			break;

			case "9":

			return ntMultpleSeleccion;
			break;

			case "10":

			return ntText;
			break;

			default:

			return ntInfo;
			break;
		}
	}

	function setFatherStep(){
		fatherStep = clickedStep;
	}

	function setMultipleStep(){
		if (clickedStep.canAddChildStep()){
				//TODO: chequear que id ponerle

				var multipleStep = new Multiple(ntSelect,wf.getStepCount()+1, clickedStep.level+1);
				clickedStep.addChildStep(multipleStep);
				wf.addStep(multipleStep);
			} else {
				alert("No puede agregar otro hijo");
			}

			draw();
		}

		function deleteStep() {

			if (wf.steps.length > 1){

				var fathersStep = wf.getFathersStepByNodeId(clickedStep.id);
				
				if(fathersStep.length > 0){
					for (var i = 0; i < fathersStep.length; i++) {
						
						fathersStep[i].next = clickedStep.id.next;
						fathersStep[i].deleteChildStep(clickedStep);
				//Si tiene hijo
				if(clickedStep.next){
					
					fathersStep[i].addChildStep(wf.getStepByNodeId(clickedStep.next.id));
				}
			}

			wf.deleteStep(clickedStep.id);

		} else {
				//Es el primero
				wf.deleteStep(clickedStep.id);
			} 
			document.getElementById("icon-bar").style.display = "none";
			document.getElementById("icon-bar-option").style.display = "none";
			document.getElementById("selectedStep").innerHTML = "";

			clickedStep = null;
		} else {
			alert("No puede borrar todos los nodos");
		}

		draw();


	}

	function closeModal() {
		modal.style.display = "none";
		spectModal.style.display = "none";
		draw();

	}

	function setOptionConfiguration() {
		optionModal.style.display = "none";
		var optionTextInput = document.getElementById('option_text');
		clickedOption.text = optionTextInput.value;

	}

	function closeOptionModal() {
		optionModal.style.display = "none";

	}

	function openModal() {
	//Set selected value
	modal.style.display = "block";
	spectModal.style.display = "none";
	new_node_type.value = getTypeNodeId(clickedStep.getNodeType().name);
	if (clickedStep.getNodeType().name == "SELECT"){
		new_node_type.disabled = true;
	} else {
		new_node_type.disabled = false;
	}
	
}

function JSONToServer(){
	if (wf.isValid()){
		post('http://localhost:8000/webpage/workflow/');
		console.log("JSON Valido : " + JSON.stringify({"steps" : wf.getJsonToServer(),"name": "WorkflowCompleto",
			"project": 1}));
	} else {
		console.log("JSON Invalido");
	}

	
}

function goToSpects(type) {
	var newType = getNewNodeType(getTypeNodeById(new_node_type.value).name);
	if(newType.name != clickedStep.nodeType.name){
		clickedStep.setNodeType(newType);
	}
	spectContainer.innerHTML = ""
	if (ntText.name == newType.name){
		var text = (clickedStep.nodeType.spect.text_to_show) ? clickedStep.nodeType.spect.text_to_show : "";
		var example_text = (clickedStep.nodeType.spect.example_text) ? clickedStep.nodeType.spect.example_text : "";
		var long_text = (clickedStep.nodeType.spect.long_text) ? clickedStep.nodeType.spect.long_text : "";
		clickedStep.nodeType.spect.data_type;


		spectContainer.innerHTML = '<h3>Ingrese el texto a mostrar</h3><input class="col-sm-12 form-control" type="text" value="'+text+'" name="text_to_show" id="text_to_show"><hr><h3>Ingrese el texto de muestra</h3><input class="col-sm-12 form-control" type="text" id="example_text" value="'+example_text+'"  name="example_text"><hr><h3>Ingrese el largo maximo del texto</h3><input class="col-sm-12 form-control" type="number" min="1" id="long_text" value="'+long_text+'"  name="long_text"><hr><h3>Ingrese el tipo de dato</h3><select class="col-sm-12 form-control" name="data_type" id="data_type"><option value="text">Texto</option><option value="other">Otro</option><option value="decimal">Decimal</option></select><hr><h3>Ingrese si es opcional</h3><select class="col-sm-12 form-control" name="optional" id="optional"><option value="true">Si</option><option value="false">No</option></select>';
		if (clickedStep.nodeType.spect.data_type){
			document.getElementById('data_type').value = clickedStep.nodeType.spect.data_type;
		}
		if (clickedStep.nodeType.spect.optional){
			document.getElementById('optional').value = clickedStep.nodeType.spect.optional;
		}
		
		
	} else {
		if(ntMultpleSeleccion.name == newType.name){
			var text = (clickedStep.nodeType.spect.text_to_show) ? clickedStep.nodeType.spect.text_to_show : "";


			var options = ""; 
			if(clickedStep.nodeType.spect.options){
				for (var i = 0; i < clickedStep.nodeType.spect.options.length ; i++) {
					options = options + '<hr><div class="row"> <div class="col-sm-8"><input class="col-sm-12 form-control" value="'+clickedStep.nodeType.spect.options[i]+'" type="text" name="option_text"></div><div class="col-sm-4"></div></div>';
				}
				
			} 

			spectContainer.innerHTML = '<div><h3>Ingrese el texto a mostrar</h3><hr><input class="col-sm-12 form-control" type="text" name="text_to_show" value="'+text+'" id="text_to_show"></div><div class="option_container"><h3>Opciones</h3>'+options+'</div><p onclick="addOption()">Click aqui para agregar una opcion ...</p>';
		} else {
			var text = "";
			if (clickedStep.nodeType.spect){
				text = (clickedStep.nodeType.spect.text_to_show) ? clickedStep.nodeType.spect.text_to_show : "";
			}

			spectContainer.innerHTML = '<h3>Ingrese el texto a mostrar</h3><hr><input class="col-sm-12 form-control" type="text" id="text_to_show" value="'+text+'" name="text_to_show">';
		} 
	}
	modal.style.display = "none";
	spectModal.style.display = "block";

}

function getSpectFromModal(nodeType){
	if (ntText.name == nodeType.name){
		var modal_text_to_show = document.getElementById('text_to_show');
		var modal_example_text = document.getElementById('example_text');
		var modal_long_text = document.getElementById('long_text');
		var modal_data_type = document.getElementById('data_type');
		var modal_optional = document.getElementById('optional');
		return { "text_to_show": modal_text_to_show.value, "example_text": modal_example_text.value, "long_text": modal_long_text.value, "data_type": modal_data_type.value, "optional": modal_optional.value};

	} else {
		if (ntMultpleSeleccion.name == nodeType.name){
			var modal_text_to_show = document.getElementById('text_to_show');
			var modal_options = document.getElementsByName('option_text');
			var options = [];
			for (var i = 0; i < modal_options.length -1; i++) {
				options.push(modal_options[i].value);
			}

			return { "text_to_show": modal_text_to_show.value,"options":options };
		} else {
			var modal_text_to_show = document.getElementById('text_to_show');
			return { "text_to_show": modal_text_to_show.value};
		}
	}
}

function setTypeConfiguration(spects) {
	
	clickedStep.nodeType.spect = getSpectFromModal(clickedStep.nodeType);
	console.log(getSpectFromModal(clickedStep.nodeType));
	modal.style.display = "none";
	spectModal.style.display = "none";
	draw();
}


function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);


    form.body.appendChild(JSON.stringify({"steps" : wf.getJsonToServer(),"name": "Dashboard",
    	"project": 112}));
    form.submit();
}

function addStep() {

	if (clickedStep.canAddChildStep()){
				//TODO: chequear que id ponerle
				var infoStep = new Simple(new NodeType('INFO',"{% static "dashboard/info.png" %}",spect),wf.getStepCount()+1, clickedStep.level+1);
				clickedStep.addChildStep(infoStep);
				wf.addStep(infoStep);
			} else {
				alert("No puede agregar otro hijo");
			}

			draw();


		}
		function addStepWithFather(childStep) {

			if (childStep.canAddChildStep()){
				childStep.addChildStep(fatherStep);

			} else {
				alert("No puede agregar otro hijo");
			}

			draw();
			fatherStep = null;
			clickedStep = null;
			document.getElementById("icon-bar").style.display = "none";
			document.getElementById("selectedStep").innerHTML = "";

		}




		function destroy() {
			if (network !== null) {
				network.destroy();
				network = null;
			}
		}

		function transformData() {
			nodes = [];
			edges = [];
			var steps = wf.steps;
			for (i = 0; i < steps.length; i++) { 
				var step = steps[i];
				var fs = wf.getFatherStepByNodeId(step.id);
				var fss = wf.getFathersStepByNodeId(step.id);

				var level;

				if (fs) {
					level = fs.getLevelToChild(); 
					
					if (fss.length > 1){
						level = fss[1].getLevelToChild(); 
					}
					step.level =level;
				} else {
					level = 0; 
					step.level = 0; 
				}
				
				step.getNodesToRender(fs, level);
				

			}
		//Son 2 for porque si no cuando quiero agregar l relacion el hijo no existe
		for (i = 0; i < steps.length; i++) { 
			var step = steps[i];
			step.getEdgesToRender();

			

		}

	}

	function addOption() {
		$( ".option_container" ).append('<hr><div class="row"> <div class="col-sm-8"><input class="col-sm-12 form-control" type="text" name="option_text"></div><div class="col-sm-4"></div></div>');
	}

	function getEdgeById(edgeId){
		for (i = 0; i < edges.length; i++) { 
			var currentEdge = edges[i];
			if (edgeId == currentEdge.id){
				return currentEdge;
			}
		}
	}

	function getNodeById(nodeId){
		for (i = 0; i < nodes.length; i++) { 
			var currentNode = nodes[i];
			if (nodeId == currentNode.id){
				return currentNode;
			}
		}
	}

	function openOptionModel(){
		//obtener input
		var optionTextInput = document.getElementById('option_text');
		//obtengo texto del modelo
		var optionText = clickedOption.text;
		//si es distinto a null se lo seteo al input
		if (!optionText){
			optionText = "";
		} 
		optionTextInput.value = optionText;
		optionModal.style.display = "block";

	}

	function deleteEdge(){

		var step = wf.getStepByNodeId(clickedEdge.from);
		edgeClicked(clickedEdge.id);
		step.deleteChildStep();
		draw();
	}

	function nodeClicked(node){
		if(wf.getStepByNodeId(node)){
			if(fatherStep){
				clickedStep = wf.getStepByNodeId(node);
			//para evitar ciclos
			if(fatherStep.id != clickedStep.id){
				addStepWithFather(clickedStep);
			}
		} else {
			fatherStep = null;
			if(clickedEdge){
				edgeClicked(clickedEdge.id);
			}

			if(clickedStep){
				if(clickedStep.id == node){
					document.getElementById("icon-bar").style.display = "none";
					document.getElementById("icon-bar-option").style.display = "none";
					document.getElementById("selectedStep").innerHTML = "";

					clickedStep = null;

				} else {
					document.getElementById("icon-bar").style.display = "block";
					document.getElementById("icon-bar-option").style.display = "none";
					clickedStep = wf.getStepByNodeId(node);

					document.getElementById("selectedStep").innerHTML = "Seleccionado: "+node;
				}

			} else {
				document.getElementById("icon-bar").style.display = "block";
				document.getElementById("icon-bar-option").style.display = "none";
				document.getElementById("selectedStep").innerHTML = "Seleccionado: "+node;
				clickedStep = wf.getStepByNodeId(node);

			}
		}
		

	} else {
		if(clickedEdge){
			edgeClicked(clickedEdge.id);
		}
		if (clickedStep){
			document.getElementById("icon-bar").style.display = "none";
			document.getElementById("selectedStep").innerHTML = "";

			clickedStep = null;
		}
		document.getElementById("icon-bar-option").style.display = "block";
		clickedOption = wf.getOptionById(node);
		document.getElementById("selectedStep").innerHTML = "Option selected "+JSON.stringify(clickedOption) ;

	}



}

function isAnOption(edge){
	return (!wf.getStepByNodeId(edge.from)) || (!wf.getStepByNodeId(edge.to));

}

function edgeClicked(edgeId){
		//Si el from o el to es una option, no hago nada
		var isOption = isAnOption(getEdgeById(edgeId));
		
		if(clickedStep){
			//Desselecciono el nodo seleccionado
			nodeClicked(clickedStep.id);
		}
		if(isOption){
			document.getElementById("icon-bar-edge").style.display = "none";
			document.getElementById("selectedStep").innerHTML = "";
			document.getElementById("icon-bar-option").style.display = "none";
			clickedEdge = null;
			clickedStep = null;
		} else {
			if (clickedEdge){

				if(clickedEdge.id == edgeId){
					document.getElementById("icon-bar-edge").style.display = "none";
					document.getElementById("selectedStep").innerHTML = "";
					document.getElementById("icon-bar-option").style.display = "none";
					clickedEdge = null;

				} else {
					document.getElementById("icon-bar-edge").style.display = "block";
					document.getElementById("icon-bar-option").style.display = "none";
					clickedEdge = getEdgeById(edgeId);
					document.getElementById("selectedStep").innerHTML = "Seleccionado: "+JSON.stringify(clickedEdge);
				}

			} else {
				document.getElementById("icon-bar-edge").style.display = "block";
				clickedEdge = getEdgeById(edgeId);;
				document.getElementById("selectedStep").innerHTML = "Seleccionado: "+JSON.stringify(clickedEdge);
			}
		}





	}


	function draw() {
		destroy();
		transformData();

            // create a network
            container = document.getElementById('mynetwork');
            data = {
            	nodes: nodes,
            	edges: edges
            };

            options = {
            	edges: {
            		smooth: {
            			type: 'cubicBezier',
            			forceDirection: 'vertical',
            			roundness: 0.4
            		}
            	},
            	layout: {
            		hierarchical: {
            			direction: "UD"
            		}
            	},
            	physics:false
            };


            network = new vis.Network(container, data, options);
            // add event listeners
            network.on('click', function (params) {
            	
            	if (params.edges.length > 0 && params.nodes.length == 0){
            		edgeClicked(params.edges)

            	}
            	//Click in node
            	if (params.nodes.length > 0 ){
            		nodeClicked(params.nodes);
            	} 
            	

            });

        }
        $(document).ready(function(){
        	$("#imprimir").click(function(){
        		if(wf.isValid()){
        			console.log(JSON.stringify({"steps" : wf.getJsonToServer(),"name": "Muestra CIACIAR","project": 11}));
        		} else {
        			console.log("anda mal");
        		}

        		

        		// $.ajax({
        		// 	type: 'POST',
        		// 	url: "http://localhost:8000/webpage/workflow/",
        		// 	data: JSON.stringify({"steps" : wf.getJsonToServer(),"name": "Muestra CIACIAR","project": 11}),
        		// 	error: function(e) {
        		// 		console.log(e);
        		// 	},
        		// 	contentType: "application/json"
        		// });




        		





        	});
        });



    </script>



    </html>
