{% extends 'webpage/base-home.html' %}

{% block content-home %}

<div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <div class="row">
          {% for project in projects_list %}
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                {% if project.workflow.workflow_results.count > 0 %}
                <div class="card-header card-header-danger card-header-icon">
                {% else %}
                <div class="card-header card-header-success card-header-icon">
                {% endif %}
                
                  <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                  </div>
                  <p class="card-category">Creado por {{ project.owner }}</p>
                  <h3 class="card-title">{{ project.name }}
                    </h3>
                    <p><small>Fecha de creación: {{ project.created_date | date:"d-m-y" }}</small></p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <ul>
                      <li><i class="material-icons">device_hub</i>
                        <a href="#pablo">Crear workflow</a>
                      </li>
                      <li><i class="material-icons">contact_mail</i>
                        {% if user.username == project.owner %}
                        <a data-toggle="modal" class="open-AddModalDialog" data-id="{{ project.id }}" data-target="#myModal" href="#myModal2">Invitar científico</a>
                        {% else %}
                             -
                        {% endif %}
                        </li>
            
                    <li><i class="material-icons">settings</i>
                    <a href="{% url 'webpage:editProject' project.id %}"> Editar proyecto</a></li>
                    <li><i class="material-icons">list_alt</i>
                    {% if project.workflow %}
                    <a href="{% url 'webpage:showResults' project.workflow.id %}"> Ver resultados</a>
                    {% else %}
                        -
                    {% endif %}
                    </li>
                    <li><i class="material-icons text-danger">delete_forever</i>
                    <a href="{% url 'webpage:deleteProject' project.id %}"> Eliminar proyecto</a></li>
                    </ul>
                    
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
            


          </div>
        </div>
      </div>

      {% include 'webpage/inviteScientistForm.html' %}

      {% include 'webpage/footer.html' %}
      

    </div>

{% endblock %}
