{% extends 'webpage/base.html' %}

{% block content %}
  <h2>Homepage</h2>
  <p>Hello {{ user.username }}!</p><br>
  <a href="{% url 'logout'%}">Logout</a><br>

  <a href="{% url 'social:begin' 'facebook' %}">Asocciate Account with Facebook</a><br> 
  <a href="{% url 'social:begin' 'google-oauth2' %}"> Asocciate Account with Gmail</a><br>
{% if projects_list %}
  <table style="width:50%">
    <tr>
      <th>Id Usuario</th>
      <th>Nombre Proyecto</th>
      <th>Editar Proyecto</th>
      <th>Eliminar Proyecto</th>
    </tr>
    {% for project in projects_list %}
       <tr>
         <!-- <td>{{ project.owner_id }}</td> -->
         <td>{{ project.name }}</td>
         <td> <a href="{% url 'webpage:projectForm' project.id %}"> Editar proyecto</a></td>
         <td> <a href="{% url 'webpage:deleteProject' project.id %}"> Eliminar proyecto</a></td>
       </tr>
    {% endfor %}
  </table>

 {% else %}
  <p>No tiene proyectos</p>
{% endif %}

  <a href="{% url 'webpage:projectForm' %}"> Crear proyecto</a>

{% endblock %}
