<!DOCTYPE html>
<html>
<head>
	<title>MUESTR.AR - HOME</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/tabla.css">
<!--===============================================================================================-->
</head>
<body>
	<header>
		<nav class="container-login1002 m-b-57">
			<div class="container-login10022">
				<img class="imagen" src="images/logo1muestrar2.png">
			</div>
			
			
		</nav>
	</header>
	<div class="limiter">		
		<div id="main-container">
			<div class="wrap-login100 p-l-30 p-r-30 p-t-12 p-b-23">
			<span class="login100-form-title p-b-10 m-l-10">
						Registro nuevo usuario
					</span>
		      	<form class="login100-form validate-form flex-sb flex-w">
		<a href="#" class="btn-face m-b-7">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" class="btn-google m-b-7">
						<img src="images/icons/icon-google.png" alt="GOOGLE">
						Google
					</a>
									
					<div class="p-t-20 p-b-9">
						<span class="txt1">
							Nombre de usuario
						</span>
						<a  class="txt2 bo1 m-l-5">
							Máximo 30 caracteres
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					<div class="p-t-20 p-b-9">
						<span class="txt1">
							Institución
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					<div class="p-t-20 p-b-9">
						<span class="txt1">
							e-mail
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Contraseña
						</span>

						
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>
										<div class="p-t-13 p-b-9">
						<span class="txt1">
							Repetir Contraseña
						</span>

						
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Registrar usuario
						</button>
					</div>

					
				</form>
		
	</div>

</div>


</body>
</html>