<div>
  <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" onclick="restoreModalOnClose()" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">
                                Invitar científico
                          </h4>
                              
                        </div>
                        <div class="modal-body">
                          <form id="scientist_form" method="POST" class="login100-form validate-form flex-sb flex-w">
                          {% csrf_token %}
          <div class="p-t-20 p-b-9">
            <span class="txt3">
              Email del científico *
            </span>
          </div>
          <div class="wrap-input100 validate-input" >
            {{ form.email }}
            <span class="focus-input100"></span>
          </div>
          {{ form.email.errors }}
          <div class="p-t-13 p-b-9">
            <span class="txt3">
              Mensaje
            </span>

            </div>
          <div class="wrap-input100 validate-input" >
            {{ form.message }}
            <span class="focus-input100"></span>
          </div>

          {{ form.non_field_errors }}
                   
          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
              Enviar
            </button>
          </div>

           </form>
           <input type="hidden" id="project_id" value="">
                          
                        </div>
                    </div>
                </div>
            </div>
  </div>
