
<div>
  <div id="myDialog" class="modal fade" role="dialog">
                <div class="modal-dialog" style="width:fit-content">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">

            				{% for message in messages %}
                			<li>{{ message }}</li>
            				{% endfor %}
                          
                        </div>
                    </div>
                </div>
            </div>
  </div>
