{% extends 'webpage/base-home.html' %}
{% block content-home %}

      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Nombre de Proyecto: {{ wf.project.name }}</h4>
                  <p class="card-category">Nombre de Workflow: {{ wf.name }} </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID 
                        </th>
                        <th>
                         Inicio
                        </th>
                        <th>
                          Fin
                        </th>
                        {% for step_information in steps_information %}
                          <th>{{ step_information.step_type }}</th>
                        {% endfor %}
                      </thead>
                      <tbody>
                      {% for wf_result in wf_results %}
                       <tr>
                         <td>{{ wf_result.id }}</td>
                         <td>{{ wf_result.start_time }}</td>
                         <td>{{ wf_result.end_time }}</td>
                         {% for step_information in steps_information %}
                            {% if wf_result|get_item:step_information.step_id and step_information.step_type == 'PhotoStep' %}
                              <td><a href = "{{ wf_result|get_item:step_information.step_id }}" target="_blank" rel="noopener noreferrer"> Ver Foto </td>
                              {% elif wf_result|get_item:step_information.step_id and step_information.step_type == 'SoundRecordStep' %}
                                <td><a href = "{{ wf_result|get_item:step_information.step_id }}" target="_blank" rel="noopener noreferrer"> Escuchar Audio </td>
                                {% elif wf_result|get_item:step_information.step_id %}
                                    <td> {{ wf_result|get_item:step_information.step_id }} </td>
                                {% else %}
                                    <td> - </td>
                            {% endif %}

                         {% endfor %}
                       </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           
             <div class="col-md-4">
                        <div class="form-group">
      <button type="submit" onclick="window.location.href='{% url 'webpage:downloadCsv' wf.id %}'" class="login100-form-btn">Descargar CSV</button>
                    </div>
                  </div>

          </div>

                     
                
        </div>

      </div>
     
      {% include 'webpage/footer.html' %}


    </div>
  </div>
 
 
</body>


{% endblock %}
